<center>
<br>
<div class="titulo">
  DEJA TU COMENTARIO!
</div>
<br>
<br>

<!--
<h1><%= @id_guardar %></h1>
-->
<%= render 'form', clase_alumno: @clase_alumno %>

<%= link_to 'Back', clase_alumnos_path %>

</center>
