<h1>Editing Actividad Instructor</h1>

<%= render 'form', actividad_instructor: @actividad_instructor %>

<%= link_to 'Show', @actividad_instructor %> |
<%= link_to 'Back', actividad_instructors_path %>
